/bootstrap/compiled.php
.env.*.php
.env.php
/vendor
/node_modules
/public/hot
/public/storage
/public/uploads
/storage/*.key
/temp
/.idea
/.vscode
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.DS_Store
.idea/

updates/
resources/lang/en.json
.env
package-lock.json
